<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles2.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Keania+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="app-frame">
            <div class="main-header">
                <h3>This is the Password Generator</h3>
            </div>
            <form action="/" method="post">
                <div class="length-settings">
                    <h3 class="length-title">Enter Length</h3>
                    <input type="number" placeholder="Length" name="length" autocomplete="off" min="10" max="30" class="box">
                </div>
                <div class="character-settings">
                    <label class="character-label">
                        Letters<input type="radio" name="option"  value="letters" checked class="radio-button">
                    </label>
                    <label class="character-label">
                        Digits<input type="radio" name="option"  value="digits" class="radio-button">
                    </label>
                    <label class="character-label">
                        Both<input type="radio" name="option"  value="both" class="radio-button"> 
                    </label>
                </div>
                <div class="password">
                    <h3>{{message}}</h3>
                </div>
                <h3 class="output">{{password}}</h3>
                <div class="submit-button">
                    <input type="submit" value="Generate Password" class="button">
                </div>
            </form>
        </div>
    </body>
</html>